# Minhas Horas
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_LOG_LEVEL=INFO
ACCESS_TOKEN_LIFETIME_IN_MINUTES=5

#POSTGRES Ambiente Fly.io
POSTGRES_USER=minhashoras_api
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=CHANGE_ME
POSTGRES_PORT=5432
POSTGRES_DB=minhashoras_api

#AWS
USE_S3=True
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
AWS_STORAGE_BUCKET_NAME=CHANGE_ME
