# Minhas Horas
DEBUG=True
DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_LOG_LEVEL=INFO

#POSTGRES Ambiente Fly.io
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=CHANGE_ME
POSTGRES_PORT=CHANGE_ME
POSTGRES_DB=CHANGE_ME

#AWS
USE_S3=True
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
AWS_STORAGE_BUCKET_NAME=CHANGE_ME

#Fly.io
ALLOWED_HOSTS=api_domain.fly.dev
CSRF_TRUSTED_ORIGINS=https://api_domain.fly.dev
CORS_ALLOWED_ORIGINS=https://app_domain.vercel.app
DJANGO_SETTINGS_MODULE=config.settings.production
